<div class="w-screen flex -md:flex-col-reverse">
    <div class="md:w-1/2 h-[90vh] p-10 bg-[var(--gray)] -sm:h-auto">
        <h1 class="heading-xs uppercase pb-5">Dein Handwerk macht den Unterschied!</h1>
        <p class="text-2xl lg:text-3xl pb-5">
            Du hast bereits Erfahrungen und bist motiviert neue Herausforderungen anzutreten? Oder stehst noch ganz am Anfang deine Karriere?
        </p>
        <p class="text-2xl lg:text-3xl">Wir unterstützen dich!</p>
        <div class="w-full flex justify-center pt-5">
            <img src="assets/icons/handschlag.png" alt="Icon Handschlag" class="h-36" />
        </div>
    </div>
    <div class="md:w-1/2 md:h-[90vh] -md:h-[50vh] relative">
        <img src="assets/images/karriere_top.jpg" alt="Bild Monteur" class="w-full h-full object-cover" />
        <p class="absolute bottom-0 right-5">Quelle: Handwerkskammer</p>
    </div>
</div>

<div class="w-screen bg-[var(--dark-gray)]">
    <p class="heading-xs text-white py-10 text-center">
        Starte ins
        <span class="text-[var(--red)]">Handwerk</span>
        !
    </p>
</div>

<!-- Cards Fakten -->
<div class="w-screen bg-[var(--gray)]">
    <div class="w-screen pt-16 flex -sm:flex-col sm:justify-around">
        <div
            class="aos-animate aos-init h-72 w-64 bg-[var(--dark-gray)] -sm:mx-auto p-3 rounded-2xl relative"
            data-aos="fade-up"
            data-aos-duration="500">
            <img src="assets/icons/rocket.png" alt="Icon Rakete" class="absolute h-20 -top-10 left-1/2 -translate-x-1/2" />
            <h1
                class="text-6xl font-extrabold text-[var(--red)] text-center pt-8"
                [countUp]="5.7"
                [options]="{ enableScrollSpy: true, suffix: ' Mio.', decimalPlaces: 1, decimal: ',' }">
                0
            </h1>
            <p class="text-3xl text-white text-center pt-2">...Menschen arbeiten im Handwerk in Deutschland.</p>
        </div>
        <div
            class="aos-animate aos-init h-72 w-64 bg-[var(--dark-gray)] -sm:mx-auto p-3 rounded-2xl relative -sm:mt-16"
            data-aos="fade-up"
            data-aos-duration="500"
            data-aos-delay="200">
            <img src="assets/icons/brain.png" alt="Icon Rakete" class="absolute h-20 -top-10 left-1/2 -translate-x-1/2" />
            <h1 class="text-6xl font-extrabold text-[var(--red)] text-center pt-8" [countUp]="28" [options]="{ enableScrollSpy: true, suffix: '%' }">
                0
            </h1>
            <p class="text-3xl text-white text-center pt-2">...der Azubis erlernen einen handwerklichen Beruf.</p>
        </div>
        <div
            class="aos-animate aos-init h-72 w-64 bg-[var(--dark-gray)] -sm:mx-auto p-3 rounded-2xl relative -sm:mt-16"
            data-aos="fade-up"
            data-aos-duration="500"
            data-aos-delay="400">
            <img src="assets/icons/werkzeug.png" alt="Icon Rakete" class="absolute h-20 -top-10 left-1/2 -translate-x-1/2" />
            <h1
                class="text-6xl font-extrabold text-[var(--red)] text-center pt-8"
                [countUp]="1.2"
                [options]="{ enableScrollSpy: true, suffix: '%', decimalPlaces: 1, decimal: ',' }">
                0
            </h1>
            <p class="text-3xl text-white text-center pt-2">...der Handwerker sind derzeit arbeitssuchend.</p>
        </div>
    </div>
    <div class="w-screen pt-16 pb-10 flex -sm:flex-col justify-evenly">
        <div
            class="aos-animate aos-init h-72 w-64 bg-[var(--dark-gray)] -sm:mx-auto p-3 rounded-2xl relative"
            data-aos="fade-up"
            data-aos-duration="500">
            <img src="assets/icons/money.png" alt="Icon Rakete" class="absolute h-20 -top-10 left-1/2 -translate-x-1/2" />
            <h1 class="text-6xl text-[var(--red)] font-extrabold text-center pt-8" [countUp]="739" [options]="{ enableScrollSpy: true }">739</h1>
            <p class="text-3xl text-white text-center pt-2">Mrd. € Umsatz generiert das Handwerk pro Jahr.</p>
        </div>
        <div
            class="aos-animate aos-init h-72 w-64 bg-[var(--dark-gray)] -sm:mx-auto p-3 rounded-2xl relative -sm:mt-16"
            data-aos="fade-up"
            data-aos-duration="500"
            data-aos-delay="200">
            <img src="assets/icons/smile.png" alt="Icon Rakete" class="absolute h-20 -top-10 left-1/2 -translate-x-1/2" />
            <h1 class="text-6xl font-extrabold text-[var(--red)] text-center pt-8" [countUp]="91" [options]="{ enableScrollSpy: true, suffix: '%' }">
                91%
            </h1>
            <p class="text-3xl text-white text-center pt-2">...der Handwerker sind glücklich in ihrem Beruf .</p>
        </div>
    </div>
</div>

<div class="w-screen bg-[var(--dark-gray)]">
    <p class="heading-xs text-white py-10 text-center">
        Deine
        <span class="text-[var(--red)]">Vorteile</span>
        bei UNS im Team
    </p>
</div>

<div class="w-screen bg-[var(--gray)] px-10 -sm:py-10 sm:py-20">
    <img src="assets/images/overview_vorteile.png" alt="Übersicht Vorteile" class="w-full h-full -sm:hidden" />
    <img src="assets/images/overview_vorteile_sm.png" alt="Übersicht Vorteile" class="w-full h-full sm:hidden" />
</div>

<div class="w-screen bg-[var(--dark-gray)] h-10"></div>

<div class="w-screen md:px-10 lg:px-32 bg-[var(--gray)] py-10">
    <h1 class="heading-xs text-white text-center pb-5">
        Wir
        <span class="text-[var(--blue)]">stellen</span>
        ein
    </h1>
    <!-- Stelle 1 -->
    <app-application-item title="Anlagenmechaniker für Sanitär-, Heizungs- und Klimatechnik">
        <app-job-1></app-job-1>
    </app-application-item>
    <!-- Stelle 2 -->
    <app-application-item title="Kundendiensttechniker für Sanitär, Heizung und Klima">
        <app-job-2></app-job-2>
    </app-application-item>

    <h1 class="heading-xs text-white text-center pb-5">
        Wir
        <span class="text-[var(--blue)]">bilden</span>
        aus
    </h1>
    <!-- Stelle 3 -->
    <app-application-item title="Ausbildung zum Anlagenmechaniker für Sanitär-, Heizungs- und Klimatechnik">
        <app-job-3></app-job-3>
    </app-application-item>
</div>
