<div class="bg-[var(--gray)] p-10 lg:px-32 -sm:p-5">
    <div class="text-center pb-5">
        <h1 class="heading-xs uppercase underline">Konventionelle Heizsysteme</h1>
    </div>

    <div class="flex -md:flex-col">
        <div class="md:w-1/2 -md:pb-5">
            <div class="containerS">
                <div class="swiper heating-slider">
                    <div class="swiper-wrapper">
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/heating_1.png" alt="" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/heating_2.png" alt="" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/heating_3.png" alt="" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="md:w-1/2 relative flex text-justify md:pl-5 items-center">
            <div class="">
                <p class="text-xl underline pb-3">Bewährtes verbessern, Zukunft gestalten</p>
                <p class="text-xl">
                    Entdecken Sie erstklassige Brennwerttechnik für Öl und Gas, die bereits wasserstofffähig sind - eine Welt, in der Tradition auf
                    Innovation trifft. Fühlen Sie sich der bewährten deutschen Ingenieurskunst zugehörig, die seit Generationen Bestand hat und
                    dennoch zukunftsweisend ist. Unsere Systeme, die sich mühelos in vorhandene Heizsysteme integrieren lassen, bieten nicht nur eine
                    kosteneffiziente und umweltfreundliche Lösung, sondern erfüllen auch die Anforderungen an das im Januar 2024 in kraft getretene
                    Gebäude-Energie-Gesetz (GEG). Genießen Sie die Sicherheit und den Komfort, das Ihnen langfristig und zuverlässig Wärme und Strom
                    bereitstellt. Sie investieren in eine nachhaltige Zukunft, ohne auf das bewährte Fundament deutscher Qualität zu verzichten.
                    Treten Sie ein in eine Gemeinschaft, die sich für Fortschritt entscheidet, während sie ihre Wurzeln ehrt.
                </p>
                <div class="-md:hidden absolute bottom-0 left-1/2 -translate-x-1/2 flex justify-center">
                    <button class="btn-white">
                        <a class="btn-underline-black" href="https://kontakt-shkroscher.de/contact" target="_blank">Jetzt Beratungstermin sichern→</a>
                    </button>
                </div>
                <div class="md:hidden flex justify-center py-5">
                    <button class="btn-white">
                        <a class="btn-underline-black" href="https://kontakt-shkroscher.de/contact" target="_blank">Termin→</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="text-center py-5">
            <h1 class="heading-xs">Produkte</h1>
        </div>
        <div class="sm:grid grid-cols-4 -md:grid-cols-2">
            <div class="w-64 lg:w-80 -md:mb-10 relative -md:mx-auto">
                <img src="assets/images/heating_product_gas.jpg" alt="Bild Brennwert Gas" class="w-full h-48 lg:h-64 border-2 border-black" />
                <p class="text-xl underline uppercase py-3">Brennwert-Gas</p>
                <p class="text-xl text-left">
                    Setzen Sie auf bewährte Ingenieurskunst, die sich durch höchste Effizienz, Zukunftssicherheit und Versorgungssicherheit
                    auszeichnet. Heimatwärme neu erleben - Tradition trifft auf moderne Gas-Brennwerttechnik.
                </p>
            </div>
            <div class="w-64 lg:w-80 -md:mb-10 mx-auto">
                <img src="assets/images/heating_product_oil.jpg" alt="Bild Brennwert Öl" class="w-full h-48 lg:h-64 border-2 border-black" />
                <p class="text-xl underline uppercase py-3">Brennwert-Öl</p>
                <p class="text-xl text-left">
                    Entscheiden Sie sich für einen Öl-Brennwertkessel und profitieren Sie von einer Technologie, die Heizkosten reduziert, ohne an
                    Wärmeleistung einzubüßen. Die Fähigkeit, Energie optimal zu verwerten, macht ihn zu einem Meister der Effizienz und
                    Zuverlässigkeit in Ihrem Zuhause.
                </p>
            </div>
            <div class="w-64 lg:w-80 -md:mb-10 mx-auto">
                <img src="assets/images/heating_product_gas.jpg" alt="Bild Kraft-Wärme-Kopplung" class="w-full h-48 lg:h-64 border-2 border-black" />
                <p class="text-xl underline uppercase py-3">Kraft-Wärme-Kopplung</p>
                <p class="text-xl text-left">
                    Nutzen Sie die doppelte Energieeffizienz der Kraft-Wärme-Kopplung, die Ihr Zuhause nicht nur beheizt, sondern parallel dazu
                    Strom erzeugt. Die All-in-One Lösung für Heiz- und Wärmetechnik in Ihrem Zuhause !
                </p>
            </div>
            <div class="w-64 lg:w-80 ml-auto -md:mb-10 -md:mx-auto">
                <img
                    src="assets/images/heating_product_h2.jpg"
                    alt="Bild Brennwert Gas und Wasserstoff"
                    class="w-full h-48 lg:h-64 border-2 border-black" />
                <p class="text-xl underline uppercase py-3">Brennwert-Gas/Wasserstoff</p>
                <p class="text-xl text-left">
                    Seien Sie Vorreiter mit einem Gas-Wasserstoff-Brennwertkessel, der den Weg für eine grünere Zukunft ebnet. Diese Technologie
                    kombiniert Effizienz mit Innovation, indem sie saubere Energie nutzt und gleichzeitig höchste Heizstandards setzt
                </p>
            </div>
        </div>
    </div>
</div>
