<div class="w-screen h-20 border-b-2 border-gray-500 z-10 ease-in duration-300 px-8 bg-white">
    <div class="w-full h-full flex -sm:justify-between sm:justify-center items-center relative">
        <div class="flex justify-around items-center sm:min-w-[50vw]">
            <div>
                <img src="assets/logos/roscher-gmbh-logo_red.png" alt="Logo Roscher Gmbh" class="h-16 w-16" routerLink="home"/>
            </div>
            <div class="text-black text-xl font-extrabold -sm:hidden" routerLink="leistungen" routerLinkActive="active">
                <a class="menu-underline">Leistungen</a>
            </div>
            <div class="text-black text-xl font-extrabold -sm:hidden" routerLink="karriere" routerLinkActive="active">
                <a class="menu-underline">Karriere</a>
            </div>
            <div class="text-black text-xl font-extrabold -sm:hidden" routerLink="about" routerLinkActive="active">
                <a class="menu-underline">Über uns</a>
            </div>
            <div class="text-black text-xl font-extrabold -sm:hidden" routerLinkActive="active">
                <a class="menu-underline" [href]="contactUrl" target="_blank">Kontakt</a>
            </div>
        </div>


        <div class="absolute right-0 sm:hidden">
            <div class="tham tham-e-squeeze tham-w-6" (click)="onMenuOpen($event)">
                <div class="tham-box">
                    <div class="tham-inner bg-[var(--red)]"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div
    id="menu"
    class="absolute top-[5rem] -mt-1 h-0 w-full z-10 bg-white ease-in duration-300 nav_sm:block overflow-hidden">
    <div class="w-full py-1 text-center">
        <a class="text-black text-xl" routerLink="leistungen">Leistungen</a>
    </div>
    <div class="w-full py-1 text-center">
        <a class="text-black text-xl" routerLink="karriere">Karriere</a>
    </div>
    <div class="w-full py-1 text-center">
        <a class="text-black text-xl" routerLink="about">Über uns</a>
    </div>
    <div class="w-full py-1 text-center">
        <a class="text-black text-xl" [href]="contactUrl" target="_blank">Kontakt</a>
    </div>
</div>
