.pointer {
    background: var(--gray) !important;
}

.active .pointer {
    background: var(--red) !important;
}

.eventBox li {
    list-style-type: none;
}

.active p,
.active li {
    transform: scale(1.05, 1.15);
}

.active img {
    transform: translateX(-2%);
}

.active p {
    color: var(--red);
}

.eventBox p,
.eventBox li,
.eventBox img {
    transition: ease-in 500ms;
}

.eventBox:last-child .strahl {
    border-left: 2px solid;
    border-image: linear-gradient(180deg, rgba(255, 87, 87, 1) 0%, rgba(255, 87, 87, 1) 30%, rgba(255, 87, 87, 0.1685267857142857) 100%) 1;
}

.containerPartner {
    max-width: 90vw;
    margin: 0 auto;
    --swiper-pagination-bottom: 0;
}

@media (max-width: 600px) {
    .containerPartner {
        max-width: 100vw;
    }

    #partner .partner-slider {
        height: 40vh;
    }
    .partner-slide {
        width: 100vw !important;
        height: 40vh !important;
        display: flex;
        justify-content: center;
    }
    .partner-slide .partner-slide-img img {
        margin: 0 10vw;
        width: 80vw !important;
        height: 40vh !important;
    }
}

.partner-slide {
    margin: 1rem 0;
    width: 10rem;
    height: 10rem;
    position: relative;
}

.partner-slide .partner-slide-img img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.partner-slide .partner-slide-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.partner-slide-content .partner-slide-content-bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--white);
}

.swiper-pagination {
    padding-top: 10px;
}

::ng-deep .swiper-pagination-bullet-active {
    background-color: var(--red);
}
