<div class="w-screen bg-[var(--gray)]">

    <div class="w-[95%] h-full sm:w-[70%] mx-auto border-x-[1px] border-gray-500 py-10 px-5 sm:px-10 bg-white">
        <h1 class="heading -sm:text-3xl text-left text-[var(--red)]">Impressum:</h1>

        <!--Textbox-->
        <div class="pt-5 text">
            <!--Adresse-->
            <p class="font-bold text-[var(--red)]">Angaben gemäß §5 TMG:</p>
            <p>
                ROSCHER GmbH
                <br />
                Neumarkt 5-7
                <br />
                09661 Hainichen
                <br />
                Handelsregister: HRB4112
                <br />
                Registergericht: Amtsgericht Hainichen
                <br />
                <span class="font-bold">Vertreten durch:</span>
                <br />
                Dipl.-Ing. Uwe Roscher
            </p>

            <!--Kontakt-->
            <p class="font-bold text-[var(--red)] pt-5">Kontakt:</p>
            <p>Telefon: +49 (0) 37207 8960 E-Mail: info@shkroscher.de</p>

            <!--Umsatzsteuer:-->
            <p class="font-bold text-[var(--red)] pt-5">Umsatzsteuer-ID:</p>
            <p>
                Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:
                <br />
                DE141207304
            </p>

            <!--Redaktionell verantwortlich:-->
            <p class="font-bold text-[var(--red)] pt-5">Redaktionell verantwortlich:</p>
            <p>
                Dipl.-Ing. Uwe Roscher
                <br />
                ROSCHER GmbH
                <br />
                Neumarkt 5-7
                <br />
                09661 Hainichen
                <br />
            </p>

            <!--Schlichtung:-->
            <p class="font-bold text-[var(--red)] pt-5">Verbraucherstreitbeilegung / Universalschlichtungsstelle</p>
            <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
        </div>
    </div>
</div>
