<div class="bg-[var(--gray)] p-10 -sm:p-5">
    <div class="text-center pb-5">
        <h1 class="heading-sm uppercase underline">Bad und Sanitäranlagen</h1>
    </div>

    <div class="flex -md:flex-col">
        <div class="md:w-1/2 -md:pb-5">
            <div class="containerS">
                <div class="swiper sanitary-slider">
                    <div class="swiper-wrapper">
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/sanitary_1.png" alt="Bild Bad 1" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/sanitary_2.png" alt="Bild Bad 2" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/sanitary_3.png" alt="Bild Bad 3" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/sanitary_4.png" alt="Bild Bad 4" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/sanitary_5.png" alt="Bild Bad 5" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="md:w-1/2 flex text-justify md:pl-5 items-center">
            <div>
                <p class="text-xl underline">Funktionalität. Design. Sauberkeit.</p>
                <p class="text-xl">
                    Verleihen Sie Ihrem Badezimmer mit unserer hochwertigen Badkeramik einen neuen Glanz. Wir bieten Qualität, Funktionalität und
                    Komfort für alltägliche Bedürfnisse. Egal, ob Sie eine Modernisierung, eine Reparatur oder ein komplett neues Badezimmer gestalten
                    möchten, wir stehen Ihnen mit einer Vielzahl von Produkten und einer kompetenten Fachberatung zur Seite. Geben Sie Ihr Projekt in
                    fachlich kompetente Hände und verlassen Sie sich auf eine reibungslose Zusammenarbeit. Gemeinsam schaffen wir das Badezimmer, das
                    perfekt zu Ihnen passt!
                </p>
                <div class="flex justify-center py-5">
                    <button class="btn-white">
                        <a class="btn-underline-black">Termin →</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <img src="assets/images/sanitary_bath_top.png" alt="Bild Bad" class="w-screen h-[70vh] object-cover" />
</div>

<div class="bg-[var(--gray)] p-10 -sm:p-5">
    <div class="text-center pb-5">
        <h1 class="heading-xs">Bad</h1>
        <p class="text-xl font-extrabold">Alles aus einer Meisterhand</p>
        <p class="text-base">
            Wir erschaffen Ihnen einen Sanitärbereich von der Abdichtung, der Verfugung, Installation der Sanitärelemente über Bodenheizung bis hin
            zum fertig gefliesten Bad. Alles aus einer Meisterhand!
        </p>
    </div>
</div>
