<div class="bg-[var(--gray)] p-10 -sm:p-5">
    <div class="text-center pb-5">
        <h1 class="heading-sm uppercase underline">Bad und Sanitäranlagen</h1>
    </div>

    <div class="flex -md:flex-col">
        <div class="md:w-1/2 -md:pb-5">
            <div class="containerS">
                <div class="swiper sanitary-slider">
                    <div class="swiper-wrapper">
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/sanitary_1.png" alt="Bild Bad 1" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/sanitary_2.png" alt="Bild Bad 2" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/sanitary_3.png" alt="Bild Bad 3" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/sanitary_4.png" alt="Bild Bad 4" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/sanitary_5.png" alt="Bild Bad 5" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="md:w-1/2 flex text-justify md:pl-5 items-center">
            <div>
                <p class="text-xl underline">Funktionalität. Design. Sauberkeit.</p>
                <p class="text-xl">
                    Verleihen Sie Ihrem Badezimmer mit unserer hochwertigen Badkeramik einen neuen Glanz. Wir bieten Qualität, Funktionalität und
                    Komfort für alltägliche Bedürfnisse. Egal, ob Sie eine Modernisierung, eine Reparatur oder ein komplett neues Badezimmer gestalten
                    möchten, wir stehen Ihnen mit einer Vielzahl von Produkten und einer kompetenten Fachberatung zur Seite. Geben Sie Ihr Projekt in
                    fachlich kompetente Hände und verlassen Sie sich auf eine reibungslose Zusammenarbeit. Gemeinsam schaffen wir das Badezimmer, das
                    perfekt zu Ihnen passt!
                </p>
                <div class="flex justify-center py-5">
                    <button class="btn-white">
                        <a class="btn-underline-black">Termin →</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <img src="assets/images/sanitary_bath_top.png" alt="Bild Bad" class="w-screen h-[70vh] object-cover" />
</div>

<!--Section Bad-->
<div class="bg-[var(--gray)] py-5 px-10 -sm:p-5">
    <div class="text-center pb-5">
        <h1 class="heading-xs">Bad</h1>
        <p class="text-xl font-extrabold">Alles aus einer Meisterhand</p>
        <p class="text-base">
            Wir erschaffen Ihnen einen Sanitärbereich von der Abdichtung, der Verfugung, Installation der Sanitärelemente über Bodenheizung bis hin
            zum fertig gefliesten Bad. Alles aus einer Meisterhand!
        </p>
    </div>
    <div class="flex -md:flex-col justify-around pt-5">
        <div class="md:w-2/5 p-3 text-center bg-gray-200 rounded-md -md:mb-5">
            <img src="assets/icons/hand_settings.svg" alt="Icon Hand mit Zahnrad" class="w-20 mx-auto" />
            <p class="text-lg underline uppercase py-3">Unsere Leistungen für Ihr Bad:</p>
            <div class="flex justify-center">
                <ul class="text-left">
                    <li class="mb-2">→ Neuinstallation</li>
                    <li class="mb-2">→ Reparaturen</li>
                    <li class="mb-2">→ Sanierung</li>
                    <li class="mb-2">→ Entkalkung</li>
                    <li class="mb-2">→ Leitungsaustausch</li>
                </ul>
            </div>
        </div>
        <div class="md:w-2/5 p-3 bg-green-400/65 rounded-md">
            <img src="assets/icons/idea.svg" alt="Icon Hand mit Zahnrad" class="w-20 mx-auto" />
            <p class="text-lg underline uppercase py-3">5 allgemiene Tipps, worauf wir bei der Planung achten:</p>
            <ol class="text-left list-decimal list-inside">
                <li class="mb-2">Bestandsaufnahme, Grundriss und Raumaufteilung vom Badezimmer inklusive Fenster, Tür und Wasseranschlüsse.</li>
                <li class="mb-2">Fußbodenheizung, Heizkörper nötig und wenn ja wohin?</li>
                <li class="mb-2">Bewegungsflächen richtig planen - für eine uneingeschränkte Nutzung</li>
                <li class="mb-2">Fenster vorhanden oder Lüftungsanlage nötig?</li>
                <li class="mb-2">Farb- und Designauswahl von Sanitär und Fliesen</li>
            </ol>
        </div>
    </div>
    <div class="text-center pt-5">
        <p class="text-base">
            Sie wollen sich viel Zeit und Aufwand sparen, dann buchen Sie jetzt einen kostenlosen Beratungstermin. Wir stehen Ihnen zur Seite und
            übernehmen jeden Schritt - von der Planung über die Realisierung bis hin zur Fertigstellung.
        </p>
        <div class="flex justify-center pt-5">
            <button class="btn-white">
                <a class="btn-underline-black">Termin →</a>
            </button>
        </div>
    </div>
</div>

<!--Sanitäranalgen Slider-->
<div class="bg-[var(--gray)] py-5 px-10 -sm:p-5">
    <div class="text-center pb-5">
        <h1 class="heading-xs">Sanitäranlagen</h1>
    </div>
    <div *ngIf="!isMobile" class="w-full sm:h-96 sm:flex justify-center gap-4">
        <div *ngFor="let card of cards; index as i" class="card relative" (mouseenter)="addActive($event)">
            <img [src]="card.image" alt="" />
            <div class="absolute bottom-0 bg-[var(--dark-gray)] w-full h-10 z-10 ease-in duration-300" [ngClass]="{ menu: menuOpened[i] }">
                <div class="tham tham-e-squeeze tham-w-6 mx-auto pt-4" (click)="toggleMenu($event, i)">
                    <div class="tham-box">
                        <div class="tham-inner bg-white"></div>
                    </div>
                </div>
                <div class="h-full text-center text-white flex flex-col justify-center">
                    <ul *ngIf="menuOpened[i]" class="">
                        <li *ngFor="let note of card.notes; index as i">{{ card.notes[i] }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isMobile" class="w-full flex flex-col">
        <div *ngFor="let card of cards; index as i" class="aos-animate aos-init w-[90%] mx-auto mb-6" data-aos="fade-up" data-aos-duration="1000">
            <img [src]="card.image" alt="" class="rounded-t-xl h-[400px] w-full object-cover" />
            <div class="bg-[var(--dark-gray)] w-full z-10 ease-in duration-300">
                <ul class="text-center text-white py-4">
                    <li *ngFor="let note of card.notes; index as i">{{ card.notes[i] }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--Barrierefreies Bad-->
<div class="bg-[var(--gray)] py-5 px-10 -sm:p-5">
    <div class="text-center pb-5">
        <h1 class="heading-xs">Barrierefreies Bad</h1>
    </div>
    <div class="flex -md:flex-col justify-around text-center">

        <div class="md:w-1/5 p-3 bg-gray-200 rounded-md -md:mb-5">
            <p class="text-lg underline uppercase py-3">Ihre Vorteile</p>
            <div class="md:h-[90%] flex flex-col justify-around -md:gap-4">
                <div>
                    <img src="assets/icons/green_check.png" alt="Icon Haken" class="w-20 mx-auto">
                    <p class="text-base">bis zu <span class="text-[var(--green)] font-extrabold">4000€</span> Förderung sichern</p>
                </div>
                <div>
                    <img src="assets/icons/green_check.png" alt="Icon Haken" class="w-20 mx-auto">
                    <p class="text-base">Zukunftsicherheit</p>
                </div>
                <div>
                    <img src="assets/icons/green_check.png" alt="Icon Haken" class="w-20 mx-auto">
                    <p class="text-base">maximaler Komfort</p>
                </div>
                <div>
                    <img src="assets/icons/green_check.png" alt="Icon Haken" class="w-20 mx-auto">
                    <p class="text-base">praktisch und ästhetisch</p>
                </div>
            </div>
        </div>

        <div class="md:w-2/5 -md:mb-5">
            <img src="assets/images/sanitary_bath_wheelchair.png" alt="Bad barrierefrei" class="h-full object-cover">
        </div>

        <div class="md:w-1/5 p-3 bg-gray-200 rounded-md  -md:mb-5">
            <p class="text-lg underline uppercase py-3">Unsere Leistungen</p>
            <div class="md:h-[90%] flex flex-col justify-around -md:gap-4">
                <div>
                    <img src="assets/icons/green_check.png" alt="Icon Haken" class="w-20 mx-auto">
                    <p class="text-base">Badewannenlift</p>
                </div>
                <div>
                    <img src="assets/icons/green_check.png" alt="Icon Haken" class="w-20 mx-auto">
                    <p class="text-base">Wanne zur Dusche umfunktionieren</p>
                </div>
                <div>
                    <img src="assets/icons/green_check.png" alt="Icon Haken" class="w-20 mx-auto">
                    <p class="text-base">Dusche durch eine barrierefreie Dusche ersetzen</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center pt-5">
        <button class="btn-white">
            <a class="btn-underline-black">Termin →</a>
        </button>
    </div>
</div>
