<div class="w-screen h-screen overflow-visible bg-[var(--bg)]">
    <div class="w-full h-screen relative">
        <img src="assets/images/home_top.jpg" alt="" class="h-full w-full filter object-cover">

        <!--Kasten schräg-->
        <div class="inclined-box sm:w-[95%] md:w-2/5 h-full -sm:w-screen bg-gray-600/60 absolute top-0">
            <div class="w-[80%] h-full flex justify-center items-center md:pt-10">
                <div class="text-center pb-12">
                    <h1 class="heading">Qualität</h1>
                    <h1 class="heading">Expertise</h1>
                    <h1 class="heading">Termingerecht</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-screen bg-[var(--gray)] flex justify-between">
    <div>
        <img src="" alt="">
        <h1>Test</h1>
    </div>

</div>