<div class="w-screen h-[calc(100vh-5rem)] overflow-visible">
    <div class="w-full h-full relative">
        <img src="assets/images/home_top.jpg" alt="" class="h-full w-full filter object-cover" />

        <!-- Kasten schräg -->
        <div class="inclined-box-top md:w-2/5 h-full -md:w-screen bg-gray-600/60 absolute top-0">
            <div class="md:w-[80%] h-full flex justify-center items-center md:pt-10">
                <div class="text-center pb-12">
                    <h1 class="heading">Qualität</h1>
                    <h1 class="heading">Expertise</h1>
                    <h1 class="heading">Termingerecht</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Statistik -->
<div class="w-screen bg-[var(--gray)] flex -sm:flex-col justify-around py-14 text-center">
    <div class="aos-animate aos-init sm:w-1/4 -sm:mx-auto -sm:pb-12" data-aos="fade-up" data-aos-duration="500">
        <img src="assets/icons/shovel.png" alt="Icon Schaufel" class="w-28 h-28 mx-auto" />
        <h1 class="heading-sm" [countUp]="1804" [options]="{ enableScrollSpy: true, separator: '' }">0</h1>
        <h1 class="heading-xs">Gründungsjahr</h1>
    </div>
    <div class="aos-animate aos-init sm:w-1/4 -sm:mx-auto -sm:pb-12" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
        <img src="assets/icons/worker.png" alt="Icon Arbeiter" class="w-28 h-28 mx-auto" />
        <h1 class="heading-sm" [countUp]="12" [options]="{ enableScrollSpy: true, suffix: '+', duration: 2.8 }">0</h1>
        <h1 class="heading-xs">Mitarbeiter</h1>
    </div>
    <div class="aos-animate aos-init sm:w-1/4 -sm:mx-auto" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
        <img src="assets/icons/customer.png" alt="Icon Kunden" class="w-28 h-28 mx-auto" />
        <h1 class="heading-sm" [countUp]="2000" [options]="{ enableScrollSpy: true, prefix: '>', separator: '.' }">0</h1>
        <h1 class="heading-xs">zufriedene</h1>
        <h1 class="heading-xs">Kunden</h1>
    </div>
</div>

<div class="w-screen h-10 bg-[var(--dark-gray)]"></div>

<!-- Leistungen Überblick -->
<div class="w-screen md:h-[120vh] bg-[var(--gray)]">
    <div class="w-full h-full flex -md:flex-col">
        <!-- Kasten schräg -->
        <div class="inclined-box-btm md:w-2/5 h-full -md:w-screen bg-[var(--dark-gray)]">
            <div class="md:w-[80%] h-full flex flex-col justify-center items-center md:pt-10">
                <div class="-md:pt-10">
                    <img src="assets/icons/house_heat.png" alt="" class="w-28 h-28 mx-auto" />
                </div>
                <div class="text-left py-10 pl-10 -sm:pr-10">
                    <p class="text text-white">
                        Die Roscher GmbH betreut gewerbliche und private Kunden bei der Planung und Realisierung Ihrer Projekte. Zudem bieten wir -
                        über die Installation hinaus - Wartungsarbeiten an, welche in der Regel zu einer erhöhten Lebenszeit der installierten
                        Produkte führt und im Interesse aller liegt. Selbstverständlich sind wir auch für Sie da, sobald eine Reparatur anfällt.
                    </p>
                </div>
            </div>
        </div>

        <!-- Leistungs items -->
        <div class="h-full md:w-3/5 flex flex-col justify-around -md:py-10">
            <div class="text-black text-center">
                <h1 class="heading-xs">Ihr Projekt - unsere Lösungen:</h1>
            </div>
            <!-- obere Reihe-->
            <div class="w-full flex justify-center -sm:flex-col -md:pt-5 sm:gap-8">
                <app-service-item
                    imageSrc="assets/images/leistung_ee.jpg"
                    title="Erneuerbare Energien"
                    link="/leistungen"
                    fragment="ee"></app-service-item>
                <app-service-item imageSrc="assets/images/leistung_heizsysteme.jpg" title="Heizsysteme" link="/leistungen" fragment="heizsysteme"></app-service-item>
            </div>
            <!-- untere Reihe-->
            <div class="w-full flex justify-center -sm:flex-col -md:pt-5 sm:gap-8 svc:pl-16">
                <app-service-item imageSrc="assets/images/leistung_bad.jpg" title="Bad & Sanitär" link="/leistungen" fragment="bad"></app-service-item>
                <app-service-item imageSrc="assets/images/leistung_klima.jpg" title="Klima & Lüftung" link="/leistungen" fragment="klima"></app-service-item>
            </div>
        </div>
    </div>
</div>

<div class="w-screen h-10 bg-[var(--dark-gray)]"></div>

<!-- So geht Handwerk -->
<div class="w-screen md:h-screen bg-[var(--gray)]">
    <div class="w-full h-full flex -md:flex-col">
        <!-- Kasten schräg -->
        <div class="inclined-box-top md:w-2/5 h-full -md:w-screen bg-[var(--dark-gray)]">
            <div class="md:w-[80%] h-full flex flex-col justify-center items-center md:pt-10">
                <div class="text-white -md:pt-10 pl-10">
                    <h1 class="heading-xs">Weitere Leistungen:</h1>
                </div>
                <div class="py-10 pl-10 -md:pr-10">
                    <ul class="list-inside list-disc text text-white">
                        <li>persönliche, kompetente Beratung vor Ort oder in unseren Geschäftsräumen</li>
                        <li>detaillierte, kreative Planung und Angebotserstellung</li>
                        <li>termingerechte, individuelle Ausführung der Leistungen</li>
                        <li>Reparaturleistungen</li>
                        <li>Unterstützung bei der Beantragung von Förderungen und Finanzierungen</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Übersicht Ablauf -->
        <div class="h-full md:w-3/5 py-10 -md:px-10">
            <img class="h-full w-full" src="assets/images/so_geht_handwerk.png" alt="Grafik so geht Handwerk" />
        </div>
    </div>
</div>

<div class="w-screen h-10 bg-[var(--dark-gray)]"></div>

<!-- Zertifikat  -->
<div class="w-screen bg-[var(--gray)]">
    <div class="flex -md:flex-col p-10">
        <div class="md:w-1/2 text-white md:pr-5">
            <h1 class="heading-xs pb-5">Lokale Wertschöpfung als zertifizierter Kompetenzpartner</h1>
            <p class="text text-white pb-3">Wir vereinen deutsche Technik mit erstklassiger Handwerkskunst!</p>
            <ul class="list-inside list-disc text text-white">
                <li>kurze und nachhaltige Lieferwege</li>
                <li>lokale Wertschöpfung</li>
                <li>höchste Qualitätsstandards</li>
            </ul>
        </div>
        <div class="md:w-1/2 -md:pt-10">
            <img src="assets/images/zert_vaillant.png" alt="" class="object-cover h-full w-full" />
        </div>
    </div>
    <div class="p-10">
        <img src="assets/images/lieferkette_normal.png" alt="" class="-md:hidden" />
        <img src="assets/images/lieferkette_handy.png" alt="" class="md:hidden -md:h-screen mx-auto" />
    </div>
</div>

<div class="w-screen bg-[var(--dark-gray)]">
    <p class="heading-xs text-white py-10 text-center">Über 2000 Kunden vertrauen uns bereits</p>
</div>

<!-- Karte -->
<div class="w-screen md:h-screen bg-[var(--gray)]">
    <div class="w-full h-full flex -md:flex-col">
        <!-- Kasten schräg -->
        <div class="inclined-box-btm md:w-2/5 h-full -md:w-screen bg-[var(--dark-gray)]">
            <div class="md:w-[80%] h-full flex flex-col justify-center items-center md:pt-10">
                <div class="-md:pt-10">
                    <img src="assets/icons/customer_white.png" alt="" class="w-28 h-28 mx-auto" />
                </div>
                <div class="text-left py-10 pl-10 -md:pr-10">
                    <ul class="list-inside list-disc text text-white">
                        <li>sorgfältig</li>
                        <li>freundlich</li>
                        <li>kompetent</li>
                        <li>zuverlässig</li>
                        <li>höchste Qualität</li>
                        <li class="text-[var(--red)]">Retter in der Not</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="h-full flex items-center md:w-3/5 p-10">
            <div>
                <img class="h-full w-full object-cover" src="assets/images/karte.png" alt="Grafik so geht Handwerk" />
            </div>
        </div>
    </div>
</div>

<div class="w-screen bg-[var(--dark-gray)] text-white">
    <p class="heading-xs text-white py-10 text-center">...und das sagen sie über uns:</p>
    <div class="container px-5 pb-10 mx-auto">
        <div class="flex flex-wrap -m-4">
            <div class="md:w-1/3 lg:mb-0 mb-6 p-4">
                <div class="h-full text-center">
                    <img alt="User Icon" class="w-20 h-20 mb-8 object-cover object-center inline-block" src="assets/icons/user.png" />
                    <p class="leading-relaxed">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam incidunt eligendi quae adipisci, explicabo doloremque a possimus
                        tenetur facilis, suscipit blanditiis ipsa consectetur optio. Assumenda sunt veritatis cum unde dolorem!
                    </p>
                    <span class="inline-block h-1 w-10 rounded bg-[var(--red)] mt-6 mb-4"></span>
                    <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">MAX MÜLLER</h2>
                </div>
            </div>
            <div class="md:w-1/3 lg:mb-0 mb-6 p-4">
                <div class="h-full text-center">
                    <img alt="User Icon" class="w-20 h-20 mb-8 object-cover object-center inline-block" src="assets/icons/user.png" />
                    <p class="leading-relaxed">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam incidunt eligendi quae adipisci, explicabo doloremque a possimus
                        tenetur facilis, suscipit blanditiis ipsa consectetur optio. Assumenda sunt veritatis cum unde dolorem!
                    </p>
                    <span class="inline-block h-1 w-10 rounded bg-[var(--red)] mt-6 mb-4"></span>
                    <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">RUDY ROSCHER</h2>
                </div>
            </div>
            <div class="md:w-1/3 lg:mb-0 p-4">
                <div class="h-full text-center">
                    <img alt="User Icon" class="w-20 h-20 mb-8 object-cover object-center inline-block" src="assets/icons/user.png" />
                    <p class="leading-relaxed">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam incidunt eligendi quae adipisci, explicabo doloremque a possimus
                        tenetur facilis, suscipit blanditiis ipsa consectetur optio. Assumenda sunt veritatis cum unde dolorem!
                    </p>
                    <span class="inline-block h-1 w-10 rounded bg-[var(--red)] mt-6 mb-4"></span>
                    <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">PASCAL MISLER</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Stellen -->
<div class="w-screen bg-[var(--gray)] py-10 px-10">
    <p class="heading-xs text-black pb-10 text-center">Wir stellen ein:</p>
    <app-offer-item title="Installateur für Sanitär-, Heizungs- und Klimatechnik"></app-offer-item>
    <app-offer-item title="Kundendienstmonteur für Heizsysteme"></app-offer-item>

    <p class="heading-xs text-black py-10 text-center">Wir bilden aus:</p>
    <app-offer-item title="Installateur für Sanitär-, Heizungs- und Klimatechnik"></app-offer-item>
</div>
