<div class="bg-[var(--gray)] p-10 lg:px-32 -sm:p-5">
    <div class="text-center pb-5">
        <h1 class="heading-xs uppercase underline">Erneuerbare Energiesysteme</h1>
    </div>

    <div class="flex -md:flex-col">
        <div class="md:w-1/2 -md:pb-5">
            <div class="containerS">
                <div class="swiper ee-slider">
                    <div class="swiper-wrapper">
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/ee_1.png" alt="" class="w-full" loading="lazy" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/ee_2.png" alt="" loading="lazy" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/ee_3.png" alt="" loading="lazy" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="md:w-1/2 flex text-justify md:pl-5 items-center relative">
            <div>
                <p class="text-xl underline pb-3">Innovativ heizen, nachhaltig profitieren</p>
                <p class="text-xl">
                    Entdecken Sie die Zukunft des Gebäudeenergiemanagements durch unsere Lösungen der erneuerbare Energietechnologien der Wärmepumpen,
                    Photovoltaik und thermischen Solaranlagen in Kombination mit konventionellen Heizsystemen sowie wasserstoffbetriebene Heizkessel
                    und Stückholz- bzw. Pelletheizkessel (Festbrennstoffheizkessel). Steigen Sie um auf nachhaltige Lösungen, die nicht nur die Umwelt
                    schützen, sondern auch Ihre Kosten nachhaltig und langfristig senken. Profitieren Sie von erhöhter Effizienz, staatlichen
                    Förderungen und der Sicherheit, zukunftssichere Technologien mit konventioneller Heiztechnik zu vereinen. Machen Sie den ersten
                    Schritt in eine nachhaltigere Zukunft mit uns!
                </p>
                <div class="-md:hidden absolute bottom-0 left-1/2 -translate-x-1/2 flex justify-center">
                    <button class="btn-white">
                        <a class="btn-underline-black" href="https://kontakt-shkroscher.de/contact" target="_blank">Jetzt Beratungstermin sichern→</a>
                    </button>
                </div>
                <div class="md:hidden flex justify-center py-5">
                    <button class="btn-white">
                        <a class="btn-underline-black" href="https://kontakt-shkroscher.de/contact" target="_blank">Termin→</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="pb-5">
        <div class="text-center py-5">
            <h1 class="heading-xs">Produkte</h1>
        </div>
        <div class="sm:grid grid-cols-4 -md:grid-cols-2">
            <div class="w-64 lg:w-80 -md:mb-10 -sm:mx-auto">
                <img src="assets/images/ee_product_heatpump.jpg" alt="" class="w-full h-48 lg:h-64 border-2 border-black" loading="lazy" />
                <p class="text-xl underline uppercase py-3">Wärmepumpen</p>
                <p class="text-xl text-left">
                    Entdecken Sie die Vorteile einer Wärmepumpe. Effiziente Technologie die mit höchster Effizienz kostenlose Energie aus der Umwelt
                    nutzt und Ihr Gebäude beheizt bzw. kühlt. Ein ästhetisches Plus für umweltbewusstes Wohnen.
                </p>
            </div>
            <div class="w-64 lg:w-80 -md:mb-10 mx-auto">
                <img src="assets/images/ee_product_pv.jpg" alt="" class="w-full h-48 lg:h-64 border-2 border-black" loading="lazy" />
                <p class="text-xl underline uppercase py-3">Photovoltaik</p>
                <p class="text-xl text-left">
                    Wandeln Sie Sonnenenergie in sauberen Strom um. Steigern Sie den Wert Ihrer Immobilie, reduzieren Sie Ihre Stromkosten langfristig
                    und erhöhen Sie Ihre Unabhängigkeit von Energieversorgern. Effizient, nachhaltig zukunftssicher.
                </p>
            </div>
            <div class="w-64 lg:w-80 -md:mb-10 mx-auto">
                <img src="assets/images/ee_product_thermosolar.png" alt="" class="w-full h-48 lg:h-64 border-2 border-black" loading="lazy" />
                <p class="text-xl underline uppercase py-3">Thermisches Solar</p>
                <p class="text-xl text-left">
                    Nutzen Sie die Vorteile thermischer Solarenergie für Ihre Warmwasseraufbereit-ung oder zum Heizen! Genießen Sie jederzeit
                    kostengünstiges Warmwasser und heizen Sie effizient, wann immer Sie es wünschen. Profitieren Sie von einer nachhaltigen
                    Energiequelle in Ihrem Zuhause.
                </p>
            </div>
            <div class="w-64 lg:w-80 ml-auto -md:mb-10 -md:mx-auto">
                <img src="assets/images/ee_product_pellets.png" alt="" class="w-full h-48 lg:h-64 border-2 border-black" loading="lazy" />
                <p class="text-xl underline uppercase py-3">Festbrennstoffe</p>
                <p class="text-xl text-left">
                    Holz hat schon immer für Wärme in unseren Behausungen gesorgt. Nutzen Sie regionale Rohstoffe und schonen Sie nicht nur die
                    Umwelt, sondern auch Ihren Geldbeutel. Genießen Sie die natürliche Behaglichkeit von Holzwärme. Natürliche Wärme in jedem Raum.
                </p>
            </div>
        </div>

        <div>
            <div class="text-center py-5">
                <h1 class="heading-xs">Planungs- und Zukunftsicherheit</h1>
                <p class="text-3xl">Wie kann ich die 65%-Erneuerbare Energien an Heizleistung erfüllen und welche Möglichkeiten habe ich?</p>
            </div>
            <div class="-md:hidden">
                <img src="assets/images/ee_possibilities_grafic.png" alt="Grafik Planung und Zukunft" loading="lazy" />
            </div>
            <div class="md:hidden">
                <img src="assets/images/ee_possibilities_grafic_sm.png" alt="Grafik Planung und Zukunft" loading="lazy" />
            </div>
        </div>

        <div>
            <div class="text-center py-5">
                <h1 class="heading-xs">Fördermöglichkeiten im Rahmen des Gebäude-Energie-Gesetz (GEG)</h1>
                <p class="text-3xl">Welche Fördermöglichkeiten gibt es und in welcher Höhe?</p>
            </div>
            <div class="-md:hidden">
                <img src="assets/images/ee_support_grafic.png" alt="Grafik Förderung" loading="lazy" />
            </div>
            <div class="md:hidden">
                <img src="assets/images/ee_support_grafic_sm.png" alt="Grafik Förderung" loading="lazy" />
            </div>
        </div>
    </div>
</div>
