<div class="w-full pl-2 py-5">
    <div class="flex items-center pb-5">
        <img src="assets/icons/calendar.png" alt="Icon Kalender" class="h-7 w-7 pr-2" />
        <p>
            Einstellung:
            <span class="text-[var(--blue)]">ab sofort</span>
            an jedem 1. eines Monats
        </p>
    </div>
    <!-- Profil -->
    <h2 class="text-xl font-bold uppercase underline">Ihr Profil:</h2>
    <div class="flex items-center py-5">
        <img src="assets/icons/qualification.png" alt="Icon Qualifikation" class="h-7 w-7 pr-2" />
        <p>
            Qualifikation:
            <span class="text-[var(--blue)]">abgeschlossene Berufsausbildung</span>
            im Bereich der Sanitär-, Heizungs- und Klimatechnik
        </p>
    </div>
    <div class="flex items-center pb-5">
        <img src="assets/icons/car.png" alt="Icon Auto" class="h-7 w-7 pr-2" />
        <p>
            Führerschein
            <span class="text-[var(--blue)]">Klasse B</span>
            wünschenswert
        </p>
    </div>
    <div class="flex items-center pb-5">
        <img src="assets/icons/values.png" alt="Icon Werte" class="h-7 w-7 pr-2" />
        <p>
            <span class="text-[var(--blue)]">Zuverlässiges</span>
            und
            <span class="text-[var(--blue)]">sorgfälltiges</span>
            Arbeiten,
            <span class="text-[var(--blue)]">Teamfähigkeit</span>
            und
            <span class="text-[var(--blue)]">kundenorientiertes</span>
            Handeln,
            <span class="text-[var(--blue)]">höfliches</span>
            und
            <span class="text-[var(--blue)]">kompetentes</span>
            Auftreten
        </p>
    </div>
    <div class="flex items-center pb-5">
        <img src="assets/icons/money_up.png" alt="Icon Geldbonus" class="h-7 w-7 pr-2" />
        <p>
            <span class="text-[var(--blue)]">Urlaubs- & Weihnachtsgeld</span>
            sowie
            <span class="text-[var(--blue)]">Zusatzzahlungen</span>
        </p>
    </div>

    <!-- Möglichkeiten -->
    <h2 class="text-xl font-bold uppercase underline">Karrieremöglichkeiten bei uns:</h2>
    <div class="flex items-center py-5">
        <img src="assets/icons/rocket.png" alt="Icon Rakete" class="h-7 w-7 pr-2" />
        <p>
            <span class="text-[var(--blue)]">fachspezifische</span>
            Fortbildungen, Weiterbildung zum
            <span class="text-[var(--blue)]">Kundendiensttechniker für SHK</span>
        </p>
    </div>

    <!-- Aufgaben -->
    <h2 class="text-xl font-bold uppercase underline">Deine Aufgaben:</h2>
    <p class="pt-5 pb-2">
        Als Anlagenmechaniker für Sanitär-, Heizungs- und Klimatechnik stattest du Privathaushalte und Betriebe mit Wasseranschlüssen, Heizungen und
        Sanitäranlagen aus und betreust sie:
    </p>
    <ul class="list-disc pl-8">
        <li>
            <span class="text-[var(--blue)]">Installieren:</span>
            Ob große Heizungs-, Klima- oder Lüftungsanlage, modernes Bad oder umweltschützende Solaranlage – du stellst sie zusammen und baust sie auf
            Baustellen ein.
        </li>
        <li>
            <span class="text-[var(--blue)]">Reparatur & Instandhaltung:</span>
            Regelmäßig überprüfst du Systeme oder Anlagen, bei denen es um Umweltschutz und Energieeinsparung geht – mit Fachwissen und
            Spezialwerkzeug.
        </li>
    </ul>
</div>
