<div class="w-screen h-[70vh] relative overflow-hidden">
    <img src="assets/images/services_top.png" alt="Bild Roscher GmbH Hainichen" class="h-full w-full object-cover blur-sm" />
    <div class="absolute top-0 left-0 w-full h-full bg-gray-800/40"></div>
    <div class="absolute md:top-1/4 -md:top-[10%] left-[10vw] w-[80vw] text-center">
        <h2 class="heading-xs -sm:text-xl text-white">Technische Anlagen aus einer Hand</h2>
        <p class="text -sm:text-lg text-white">von der Planung bis zur Wartung</p>
    </div>
</div>

<div class="top w-screen bg-[var(--dark-gray)] py-10 -md:py-5">
    <div class="flex -md:flex-col justify-center text-center text-white">
        <div class="flex -md:justify-center -md:pb-10">
            <div class="w-48 sm:mx-5">
                <img src="assets/icons/ee.png" alt="" class="w-28 h-28 mx-auto" />
                <p class="text-lg">Erneuerbare Energien</p>
            </div>
            <div class="w-48 sm:mx-5">
                <img src="assets/icons/brennwert.png" alt="" class="w-28 h-28 mx-auto" />
                <p class="text-lg">Brennwerttechnik</p>
            </div>
        </div>
        <div class="flex -md:justify-center">
            <div class="w-48 sm_mx-5">
                <img src="assets/icons/bath.png" alt="" class="w-28 h-28 mx-auto" />
                <p class="text-lg">Erneuerbare Energien</p>
            </div>
            <div class="w-48 sm:mx-5">
                <img src="assets/icons/air_conditioner.png" alt="" class="w-28 h-28 mx-auto" />
                <p class="text-lg">Erneuerbare Energien</p>
            </div>
        </div>
    </div>
</div>

<!--Grafik-->
<div class="w-full h-96"></div>

<app-heating-section></app-heating-section>

<app-ee-section></app-ee-section>
