<div class="w-screen h-[70vh] relative overflow-hidden">
    <img src="assets/images/services_top.png" alt="Bild Roscher GmbH Hainichen" class="h-full w-full object-cover blur-sm" />
    <div class="absolute top-0 left-0 w-full h-full bg-gray-800/40"></div>
    <div class="absolute top-1/2 -translate-y-1/2 left-[10vw] w-[80vw] text-center">
        <h2 class="lg:text-6xl text-5xl text-white -sm:pb-3">Technische Anlagen aus einer Hand</h2>
        <p class="lg:text-5xl text-4xl text-white">von der Planung bis zur Wartung</p>
    </div>
</div>

<div class="top w-screen bg-[var(--dark-gray)] py-10 -md:py-5">
    <div class="flex -md:flex-col justify-center text-center text-white">
        <div class="flex -md:justify-center -md:pb-10">
            <div class="w-48 lg:w-64 sm:mx-5 transition-all ease-in delay-300 hover:scale-110" routerLink="/leistungen" fragment="heizsysteme">
                <img src="assets/icons/brennwert.png" alt="" class="w-28 h-28 mx-auto" loading="lazy"/>
                <p class="text-lg pt-4">Brennwerttechnik</p>
            </div>
            <div class="w-48 lg:w-64 sm:mx-5 transition-all ease-in delay-300 hover:scale-110" routerLink="/leistungen" fragment="ee">
                <img src="assets/icons/ee.png" alt="" class="w-28 h-28 mx-auto" loading="lazy"/>
                <p class="text-lg pt-4">Erneuerbare Energien</p>
            </div>
        </div>
        <div class="flex -md:justify-center">
            <div class="w-48 lg:w-64 sm:mx-5 transition-all ease-in delay-300 hover:scale-110" routerLink="/leistungen" fragment="bad">
                <img src="assets/icons/bath.png" alt="" class="w-28 h-28 mx-auto" loading="lazy"/>
                <p class="text-lg pt-4">Bad und Sanitär</p>
            </div>
            <div class="w-48 lg:w-64 sm:mx-5 transition-all ease-in delay-300 hover:scale-110" routerLink="/leistungen" fragment="klima">
                <img src="assets/icons/air_conditioner.png" alt="" class="w-28 h-28 mx-auto" loading="lazy"/>
                <p class="text-lg pt-4">Klima- und Lüftungssysteme</p>
            </div>
        </div>
    </div>
</div>

<app-heating-section id="heizsysteme"></app-heating-section>

<app-ee-section id="ee"></app-ee-section>

<app-sanitary-section id="bad"></app-sanitary-section>

<app-air-conditioner-section id="klima"></app-air-conditioner-section>
