<div
    [routerLink]="link"
    [fragment]="fragment"
    class="service-card aos-animate aos-init sm:max-w-[300px] lg:max-w-[400px] h-[20rem] lg:h-[24rem] rounded-md shadow-md bg-[var(--dark-gray)] -sm:my-4 -sm:w-[80vw] -sm:mx-auto flex flex-col justify-between overflow-hidden"
    data-aos="fade-left"
    data-aos-duration="500">
    <div>
        <div class="overflow-hidden">
            <img
                [src]="imageSrc"
                alt=""
                class="service-image object-cover object-center w-full rounded-t-md h-56 lg:h-72 dark:bg-gray-500 ease-in duration-500"
                loading="lazy" />
        </div>
        <div class="mt-4 mb-4 px-2 h-8">
            <h2 class="text-2xl font-semibold text-white text-center">{{ title }}</h2>
        </div>
    </div>
    <div class="flex justify-center pb-2">
        <button [routerLink]="link" [fragment]="fragment" class="text-white mb-2 uppercase"><a class="btn-underline">Weitere Infos</a></button>
    </div>
</div>
