<div class="w-full pl-2 py-5">
    <!-- Profil -->
    <h2 class="text-xl font-bold uppercase underline">Dein Profil:</h2>
    <div class="flex items-center py-5">
        <img src="assets/icons/target.png" alt="Icon Zielscheibe" class="h-7 w-7 pr-2" />
        <p>
            Interessen:
            <span class="text-[var(--blue)]">Ausbau,</span>
            Haustechnik und Gebäudetechnik
        </p>
    </div>
    <div class="flex items-center pb-5">
        <img src="assets/icons/qualification.png" alt="Icon Qualifikation" class="h-7 w-7 pr-2" />
        <p>
            Qualifikation:
            <span class="text-[var(--blue)]">Hauptschulabschluss (Berufsreife)</span>
            oder
            <span class="text-[var(--blue)]">Realschulabschluss (Mittlere Reife)</span>
        </p>
    </div>

    <!-- Informationen -->
    <h2 class="text-xl font-bold uppercase underline">Informationen zu deiner Ausbildung:</h2>
    <div class="flex items-center py-5">
        <img src="assets/icons/calendar.png" alt="Icon Kalender" class="h-7 w-7 pr-2" />
        <p>
            Ausbildungsbeginn:
            <span class="text-[var(--blue)]">1. August / September 2024</span>
        </p>
    </div>
    <div class="flex items-center pb-5">
        <img src="assets/icons/clock.png" alt="Icon Uhr" class="h-7 w-7 pr-2" />
        <p>
            Ausbildungdauer:
            <span class="text-[var(--blue)]">3,5 Jahre</span>
        </p>
    </div>
    <div class="flex items-center pb-5">
        <img src="assets/icons/map.png" alt="Icon Karte" class="h-7 w-7 pr-2" />
        <p>
            Theoretische Ausbildung:
            <span class="text-[var(--blue)]">BSZE Döbeln</span>
            <br />
            Praktische Ausbildung:
            <span class="text-[var(--blue)]">Roscher GmbH, Hainichen</span>
        </p>
    </div>
    <div class="flex items-center pb-5">
        <img src="assets/icons/money_up.png" alt="Icon Geldbonus" class="h-7 w-7 pr-2" />
        <p>
            <span class="text-[var(--blue)]">Urlaubs- & Weihnachtsgeld</span>
            sowie
            <span class="text-[var(--blue)]">Zusatzzahlungen</span>
        </p>
    </div>

    <!-- Aufgaben -->
    <h2 class="text-xl font-bold uppercase underline">Deine Lerninhalte:</h2>
    <p class="pt-5 pb-2">
        Deine Ausbildung als Anlagenmechaniker für Sanitär-, Heizungs- und Klimatechnik bereitet dich auf die Herausforderungen des späteren
        Berufslebens vor – und beinhaltet folgende Themen:
    </p>
    <ul class="list-disc pl-8">
        <li>Prüfung, Messung und Instandhaltung von Anlagen und Anlageteilen</li>
        <li>Maschinelles Bearbeiten, Fügen, manuelles Trennen, Spanen und Umformen</li>
        <li>Installieren von elektrischen Baugruppen und Komponenten</li>
        <li>Instandhalten von Betriebsmitteln und versorgungstechnischen Anlagen und Systemen</li>
        <li>Montieren und Demontieren von Rohrleitungen und Kanälen</li>
        <li>Montieren von Mess-, Steuerungs-, Regelungs- und Sicherheitseinrichtungen</li>
        <li>Transportieren von Bauteilen und Baugruppen</li>
        <li>Berücksichtigen nachhaltiger Energie- und Wassernutzungssysteme</li>
        <li>Durchführen von Dämm-, Dichtungs-, Schutz- sowie Hygienemaßnahmen</li>
        <li>Gebäudemanagementsysteme</li>
        <li>Organisation des Ausbildungsbetriebes, Berufsbildung sowie Arbeits- und Tarifrecht</li>
        <li>Sicherheit und Gesundheitsschutz</li>
        <li>Umweltschutz und Nachhaltigkeit</li>
        <li>Digitalisierte Arbeitswelt</li>
        <li>Betriebliche, technische und kundenorientierte Kommunikation, Planung und Auftragsbearbeitung</li>
        <li>Kontrolle und Beurteilung der Arbeitsergebnisse und Durchführung qualitätssichernder Maßnahmen</li>
    </ul>
</div>
