<div class="bg-[var(--gray)] p-10 -sm:p-5">
    <div class="text-center pb-5">
        <h1 class="heading-sm uppercase underline">Klima- und Lüftungs<span class="sm:hidden">-</span><br class="sm:hidden">anlagen</h1>
    </div>

    <div class="flex -md:flex-col">
        <div class="md:w-1/2 -md:pb-5">
            <div class="containerS">
                <div class="swiper air-slider">
                    <div class="swiper-wrapper">
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/air_1.png" alt="Bild Lüftungsanlage 1" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/air_2.png" alt="Bild Lüftungsanlage 2" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/air_3.png" alt="Bild Lüftungsanlage 3" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                        <!-- Slide-start -->
                        <div class="swiper-slide slide">
                            <div class="slide-img">
                                <img src="assets/images/air_4.png" alt="Bild Lüftungsanlage 4" />
                            </div>
                        </div>
                        <!-- Slide-end -->
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="md:w-1/2 flex text-justify md:pl-5 items-center">
            <div>
                <p class="text-xl underline">Kühle Köpfe, heiße Ideen</p>
                <p class="text-xl">
                    Wir verstehen, wie wichtig es ist, ein angenehmes und gesundes Raumklima zu schaffen. Daher bieten wir nicht nur erstklassige
                    Beratung an, sondern auch professionelle Dienstleistungen, um sie in Ihre Räumlichkeiten einzubauen. Moderne Klima- und
                    Lüftungssysteme sind darauf ausgerichtet, Ihr Wohlbefinden zu steigern und Ihre Umgebung zu optimieren. Durch das Filtern von
                    Schadstoffen und die Regulierung der Luftfeuchtigkeit sorgen sie für eine frische und gesunde Atmosphäre. Gleichzeitig
                    gewährleisten sie eine gleichmäßige Temperatur, die zu einem höheren Wohlbefinden beiträgt. Mit unserer Fachkenntnis und Erfahrung
                    garantieren wir eine reibungslose Installation, die sicherstellt, dass Ihr neues System optimal funktioniert und Ihnen langfristig
                    Vorteile bietet.
                </p>
                <div class="flex justify-center py-5">
                    <button class="btn-white">
                        <a class="btn-underline-black">Termin →</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="text-center py-5">
            <h1 class="heading-xs">Produkte</h1>
        </div>

        <div class="flex -md:flex-col">
            <div class="md:w-1/2 px-5 -md:pb-10">
                <img src="assets/images/air_product_conditioner.png" alt="Bild Klimanlage" class="border-2 border-black" />
                <p class="text-lg underline uppercase py-3">Klimaanalagen</p>
                <p class="text-base text-justify">
                    Stellen Sie sich vor, an einem heißen Sommertag nach Hause zu kommen und sofort von einer angenehm kühlen Brise empfangen zu
                    werden. Schaffen Sie sich nicht nur ein angenehmes Raumklima, sondern auch eine Atmosphäre der Entspannung. Genehmigen Sie sich
                    den Luxus eines kühlen Zuhauses und spüren Sie, wie Ihre Lebensqualität steigt.
                </p>
            </div>
            <div class="md:w-1/2 px-5">
                <img src="assets/images/air_product_ventilation.png" alt="Bild Klimanlage" class="border-2 border-black" />
                <p class="text-lg underline uppercase py-3">Lüftungsanlage</p>
                <p class="text-base text-justify">
                    Mit einer Lüftungsanlage erhalten Sie nicht nur eine kontinuierliche Zufuhr von Frischluft, sondern auch eine effiziente Abführung
                    von verbrauchter Luft und Feuchtigkeit. Zusätzlich ist Ihre Raumluft frei von Allergenen, Schadstoffen und unangenehmen Gerüchen.
                    Kümmern auch Sie sich um Ihre Gesundheit und Ihr Wohlbefinden in Ihrem zu Hause.
                </p>
            </div>
        </div>
    </div>
</div>
