@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-toastr/toastr';

@font-face {
    font-family: 'San Francisco';
    font-weight: 400;
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

:root {
    --red: #ff5757;
    --gray: #9d9d9d;
    --dark-gray: #545454;
    --blue: #2C92D5;
    --green: #7ed957;
    --orange: #ff914d;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #cbd5e0;
}

::-webkit-scrollbar-thumb {
    background: #2d3748;
}

::-webkit-scrollbar-thumb:hover {
    background: #718096;
}

body {
    margin: 0;
    font-family: 'San Francisco';
    overflow-x: hidden;
    height: 100%;
    width: 100vw;
    scroll-behavior: smooth;
}

.pattern {
    background-image: radial-gradient(#24415c 0.8px, transparent 0.8px), radial-gradient(#24415c 0.8px, #e5e5f7 0.8px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
}

.text {
    font-size: 1.5rem;
}

.text-sm {
    font-size: 1.25rem;
}

.heading {
    font-weight: 900;
    font-size: 4rem;
    text-transform: uppercase;
}

.heading-sm {
    font-weight: 700;
    font-size: 1.75rem;
}

/* Button with underline effect */
.btn-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size .4s ease-in-out;
}

button:hover .btn-underline {
    background-size: 100% 3px;
    background-position: 0% 100%
}

.btn-red:hover{
    color: #fff;
}

.btn-red {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    border: none;
    background: var(--red);
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    padding: 8px 20px;
    border-radius: 10px;
}

@media (max-width: 1500px) {
    .text {
        font-size: 1.25rem;
    }

    .text-sm {
        font-size: 1rem;
    }

    .heading {
        font-size: 3.5rem;
    }

    .heading_sm {
        font-size: 1.5rem;
    }
}

@media (max-width: 700px) {
    .text {
        font-size: 1rem;
    }

    .text-sm {
        font-size: 0.75rem;
    }

    .heading {
        font-size: 3rem;
    }

    .heading_sm {
        font-size: 1.25rem;
    }
}
